*{
    margin: 0;
    padding: 0;
}
.logo > img{
    height: 3vh;
    width: 15vw;
}
.main{
    overflow-x: hidden;
}
.navbar1{
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
    text-align: center;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
}
.leftnav1{
    display: flex;
    text-align: center;
    align-items: center;
}
.account{
    display: flex;
    gap: .5vw;
}
.search{
    background-color: #FAFAFA;
    /* padding: 1.5vw; */
    width: 40vw;
    border: .1vw solid rgba(0, 0, 0, 0.329);
    border-radius: .75vw;
    height: 6vh;
    align-content: center;
    text-align: left;
    word-spacing: .5vw;
    padding-left: 1.5vw;
    margin-left: 2.5vw;
}.user>a>img{
    width: 4vw;
    height: 7vh;
}
.like>a>img{
    width: 4vw;
    height: 7vh;
}
.shopcart>a>img{
    width: 4vw;
    height: 7vh;
}
.iconimg > a > img{
    height:10vh; 
    width:5vw;
    text-align:center;
    align-items: center;
}
.nav2{
    background-color: #E2E3E5;
    padding: 1.5vw;
    margin-top: 1vw;
}
.nav2content{
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
    gap: 2.45vw;
    word-spacing: .3vw;
}
.list > a{
    text-decoration: none;
    color: black;
}
.list :hover{
    color: gray;
}
.nav3{
    background-color: #F2F2F2;
    padding: .75vw;
    display: flex;
    justify-content: space-between;
}
.nav3content{
    margin-left: 4.2vw;
    margin-right: 4.2vw;
    font-size: .75rem;
    word-spacing: .55vw;
}
.sorting{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 4vw;
    display: flex;
    justify-content: space-between;
}
.filter{
    word-spacing: 1.5vw;
}
.sort{
    background-color: #F2F2F2;
    padding: .75vw;
    width: 15vw;
    border-radius: .45vw;
}
.content{
    margin-top: 1.5vw;
    margin-left: 5vw;
    margin-right: 5vw; 
    font-size: 1rem;
}
.rows{
    display: flex;
    gap: .8vw;
}
.elementimg{
    border-radius: .3vw;
    border: .1vw solid rgba(128, 128, 128, 0.386);
}
.elementimg  > a > img{
    width: 21.5vw;
}
.elementname{
    margin-top: .5vw;
    word-spacing: .5vw;
    font-size: 1rem;
}
.elementprice{
    display: flex;
    font-size: 1.4rem;
    gap: .5vw;
}
.delprice{
    color: rgba(0, 0, 0, 0.351);
    font-size: 1rem;
}
.discount{
    color: red;
    font-size: 1rem;
}
/* .elementimghat > a > img{
    width: 21.5vw;
    height: 60.5vh;
    border-radius: .3vw;
    border: .1vw solid rgba(128, 128, 128, 0.386);
} */
.elementimg :hover{
    background-color: gray;
}
.rowlast{
    display: flex;
    justify-content: center;
}
.footer{
    display: flex;
    background-color: #F2F2F2;
    margin-top: 2vw;
    /* justify-content: center; */
    flex-direction: column;
    text-align: center;
    padding: 3vw;
}
.join{
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: .1vw;
}
.emailaddress{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    background-color: white;
    width: 92.5vw;
    height: 7vh;
    margin-top: 1vw;
    align-content: center;
    text-align: center;
    font-size: .93rem;
}
.input{
    align-content: center;
}
.subscribe{
    align-content: center;
}
.last{
    display: flex;
    justify-content: center;
    margin-top: 3vw;
    gap: 10vw;
}
.headingcol{
    font-size: 1.5rem;
    margin-bottom: 1.5vw;
    text-align: left;
}
.contentcol{
    margin-bottom: 1vw;
    text-align: left;
    color: rgba(0, 0, 0, 0.771);
}
.logo > a > img{
    height: 5vh;
}
.logo > a > img:hover{
    transform: scale(1.2);
}
.social{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
}
.socialtext{
    font-size: 1.35rem;
    letter-spacing: .2vw;
}
.logosocial{
    display: flex;
    gap: .4vw;
    margin-top: .75vw;
}
.searches{
    display: flex;
    flex-direction: column;
}
.populartext{
    text-align: left;
}
.links{
    text-align: left;
    letter-spacing: .1vw;
    word-spacing: .2vw;
    margin-top: .5vw;
}
.links > a{
    color: rgba(0, 0, 0, 0.796);
}
.copyright{
    text-align: center;
    padding: .9vw;
    word-spacing: .35vw;
    font-size: .82rem;
    opacity: 75%;
}
/* html{
    font-size: 25px;
} */
@media screen and (max-width:1000px){
    html{
        font-size: 15px;
    }
}
@media screen and (max-width:700px){
    html{
        font-size: 13.5px;
    }
}
@media all and (min-width:1800px){
    html{
        font-size: 28px;
    }
}   
@media all and (min-width:2600px){
    html{
        font-size: 32px;
    }
}   